<!doctype html>
<html lang="en">
<head>
    <title>Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" /> 
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div  class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Catalog App</span>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    href="{{url_for('auth.gdisconnect')}}">Logout
                </a>
            </div>
        </header>
        <main class="main-container mdl-layout__content">
            <div class="main-page-content page-content">
                <div class="card mdl-card mdl-shadow--2dp">

                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">{{catalog_item.name}}</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                {{catalog_item.description}}
                            </div>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <a href="{{url_for('catalog.edit_catalog_item', catalog_name=catalog_name, item_name=catalog_item.name)}}"
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                edit
                            </a>
                            <a href="{{url_for('catalog.delete_catalog_item', catalog_name=catalog_name, item_name=catalog_item.name)}}"
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                delete
                            </a>
                        </div>

                </div>
            </div>
        </main>
    </div>
</body>
</html>
